Flask
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-Cors
APScheduler
python-dotenv
Werkzeug
SQLAlchemy
Flask-Login
PyPDF2
scikit-learn
numpy
pytest
pytest-cov
pytest-mock
pytest-flask
pytest-flask-sqlalchemy
pytest-flask-login
pytest-flask-cors